
/* import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'; */

*{
    border: 1px solid red;
}

.disable-scrollbar {
    scrollbar-width: none; 
}

.disable-scrollbar::-webkit-scrollbar { 
    display: none;
}

html {
    scroll-behavior: smooth;
}

@keyframes gradient-flow {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
   
  }
  
  .animate-gradient-flow {
    animation: gradient-flow 1s linear infinite;
  }